<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <ul class="list-group">
                <li class="list-group-item secondary"><app-assignement3></app-assignement3></li>
                <li class="list-group-item secondary"><app-users></app-users></li>
                <li class="list-group-item secondary"><app-servers></app-servers></li>
                <li class="list-group-item warning"><app-warning-alert></app-warning-alert></li>
                <li class="list-group-item success"><app-success-alert></app-success-alert></li>
            </ul>            
        </div>
    </div>
</div>

