<label>Assignment 3</label>
<ol>
  <li>Add a button that says 'Display Details'</li>
  <li>Add a paragraph with content of your choice (e.g. 'Secret password = Tuna')</li>
  <li>Toggle the display of that paragraph with the button created in the 1st step.</li>
  <li>Log all clicks in an array and output the array below the secret paragraph,<br />
  maybe log as time stamp or simply an incrementing number</li>
  <li>Starting at the 5th log item, give all future log items a blue background color (via ngStyle)<br />and white color (ngClass)</li>
</ol>